
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
.container-fluid{
  padding: 0;
}

.row{
  margin-left: 0;
  margin-right: 0;
}
.main-header{
  position: relative;
  background: url("../images/background0.jpg");
  background-size: cover;
  height: 550px;
  text-align: center;
  color: white;
  .logo{
    position: relative;
    margin: 0 auto;
    width: 70px;
    height: 60px;
  }
  h1{
     text-transform: uppercase;
     letter-spacing: 8px;
     font-size: 75px;
     position: relative;
     font-weight: 200;
     font-family: Karla;
   }
   a{
      position: relative;
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      display: inline-block;
      margin: 20px 30px;
      line-height: 15px;
      border: 1px solid white;
      border-radius: 2px;
      h3{
        display: inline-block;
        margin: 0;
        padding: 12px 25px;
        font-weight: 100;
        letter-spacing: 4px;
        font-family: Karla;
      }
      &:hover{
        background-color: rgba(250, 250, 250, 0.2);
        // background-color: rgba(12, 20, 20, 0.5);
        // border: 1px solid rgba(12, 20, 20, 0.5);
        color: white;
      }
   }
 .logo-header{
   margin-bottom: 115px;
   .small-header{
     margin-top: 3px;
     img{
       margin-right: 5px;
       margin-top: 10px;
       vertical-align: bottom;
       height:45px;
       width: 45px;
     }
     h5{
       font-family: Karla;
       text-transform: uppercase;
       display: inline-block;
       color: white;
       font-size: 20px;
       font-weight: 100;
     }
   }
   .small-nav{
     float: right;
     text-align: center;
     padding: 0;
     margin-top: 12px;
    a{
      font-family: Karla;
       margin:13px 15px;
       color: white;
       border: none;
       font-size: 16px;
       &:hover{
         color: black;
         background-color: rgba(0, 0, 0, 0);
       }
     }
   }
 }

}


.main-header::before{
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(10,10,10, 0.7);
}

.app-info{
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: rgba(250, 250, 250, 1);
  // background-color: rgba(12, 20, 20, 1);
  color: rgba(12, 20, 20, 1);
  #heart{
    color:rgba(136, 20, 0, 1);
  }
  #group{
    color: rgba(0, 99, 49, 1);
  }
  #single{
    color: rgba(4, 82, 128, 1);
  }
  .middle{
    .info-content{
      border-left:1px solid lightgray;
      border-right:1px solid lightgray;
      p{
        margin: 10px auto;
        width: 300px;
      }
    }
  }
  .section-image{
    border: 2px solid rgba(12, 20, 20, 0.8);
    width: 125px;
    margin: 0 auto;
    border-radius: 60px;
    padding: 25px 0 20px 0;
  }
  .info-content{
    h2{
      text-transform: capitalize;
      font-weight: 200;
      font-family: Karla;
    }
    p{
      font-family: Karla;
      color: rgba(12, 20, 20, 0.8);
      margin: 10px auto;
      width: 300px;
    }
  }

}




/********************
LOGIN
********************/

.login{
  background: url("../images/background0.jpg")center;
  background-size: cover;
  height: 830px;
  margin: 0 auto;
  #loader{
     fill: #ffffff;
     height: 64px;
     width: 175px;
     margin: 0px auto;
     position: relative;
     h3{
       color: white;
       font-size: 30px;
       font-weight: 100;
       margin-top: 65px;
       text-align: center;
       letter-spacing: 5px;
     }
  }
  &::before{
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(10,10,10, 0.7);
  }
  .say-hello{
    h1{
      color: white;
      font-weight: 100;
      font-size: 50px;
      letter-spacing: 5px;
      text-align: center;
    }
  }
  .logo-header{
    margin-bottom: 170px;
    .small-header{
      margin-top: 20px;
      text-align: center;
      img{
        margin-right: 5px;
        vertical-align: text-bottom;
        height:55px;
        width: 55px;
      }
    }
  }
  .login-content{

    h3{
      color: white;
      font-size: 35px;
      text-align: center;
      margin-bottom: 15px;
      text-transform: lowercase;
      font-weight: 100;
      letter-spacing: 2px;
    }
    form{
      input{
        margin-bottom: 10px;
      }
      label{
        color: white;
        display: inline-block;
        h4{
          font-weight: 100;
          font-size: 20px;
          letter-spacing: 3px;
        }
      }
      #cp-image{
        color: white;
        display: inline-block;
        margin-left: 0px;
        font-weight: 100;
      }
      button{
        width: 100%;
        background-color: rgba(12, 20, 20, 0.7);
        border: 1px solid rgba(12, 20, 20, 0.5);
        color: white;
        font-size: 18px;
        text-transform: lowercase;
        font-weight: 100;
        letter-spacing: 4px;
        &:hover{
          background-color: rgba( 13, 94, 53,0.7);
          border: 1px solid rgba( 13, 94, 53,0.9);
          color: white;
        }
      }
    }
    p{
      margin-top: 5px;
      text-align: center;
      color: white;
      font-weight: 100;
      text-transform: lowercase;
      font-size: 18px;
      a{
        text-decoration: none;
        color: rgba(175, 175, 175, 0.9);
      }
    }
  }
}

.signup{
  background: url("../images/background0.jpg");
  background-size: cover;
  height: 830px;
  margin: 0 auto;
  &::before{
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(10,10,10, 0.7);
  }
  .logo-header{
    margin-bottom: 170px;
    .small-header{
      margin-top: 20px;
      text-align: center;
      img{
        margin-right: 5px;
        vertical-align: text-bottom;
        height:55px;
        width: 55px;
      }
    }
  }
  .signup-content{
    h3{
      color: white;
      font-size: 35px;
      text-align: center;
      margin-bottom: 15px;
      text-transform: lowercase;
      font-weight: 100;
      letter-spacing: 2px;
    }
    form{
      input{
        margin-bottom: 10px;
      }
      button{
        width: 100%;
        background-color: rgba(12, 20, 20, 0.7);
        border: 1px solid rgba(12, 20, 20, 0.5);
        color: white;
        font-size: 18px;
        text-transform: lowercase;
        font-weight: 100;
        letter-spacing: 4px;
        &:hover{
          background-color: rgba( 13, 94, 53,0.7);
          border: 1px solid rgba( 13, 94, 53,0.9);
          color: white;
        }
      }
    }
    p{
      margin-top: 5px;
      text-align: center;
      color: white;
      font-weight: 100;
      text-transform: lowercase;
      font-size: 18px;
      a{
        text-decoration: none;
        color: rgba(175, 175, 175, 0.9);
      }
    }
  }
}

.app{
  position: relative;
  min-height: 830px;
  width: 100%;
  background: rgba(18, 18, 18, 1) url("../images/background0.jpg")center;
  background-size: cover;

  &::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(10,10,10, 0.7);
  }
  .app-header{
    position: relative;
    background-color: rgba(20, 20, 20, 1);
    height: 60px;
    img{
      height: 45px;
      cursor: pointer;
      margin: 6px 0 0 35px;
    }
    .title{
      text-align: center;
      h2{
        display: inline-block;
        color: white;
        font-size: 35px;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 12px;
        margin: 12px 0 0 0;
      }
    }

    .profile{
      cursor: pointer;
      color: white;
      text-align: right;
      .icon{
        margin: 3px 35px 0 0;
        img{
          height: 45px;
          border-radius: 28px;
          &:hover{
            opacity: 0.5;
          }
        }
        i{
          margin-left: 2px;
          vertical-align: middle;
          font-size: 18px;
        }

      }

    }
    .nav{
      height: 50px;
      position: absolute;
      top: 60px;
      width: 100%;
      background-color: white;
      text-align: center;
      z-index: 1;
      li{
        display: inline-block;
        font-size: 22px;
        font-weight: 100;
        text-transform: lowercase;
        margin-top: 9px;
        padding: 1px 35px 1px 35px;
        border-left: 1px solid lightgray;
        cursor: pointer;
        &:hover{
          font-weight: 200;
        }
      }
      #last-nav{
        border-right: 1px solid lightgray;
      }
    }
  }
  .app-content{
    position: relative;
    .say-saved{
      text-align: center;
      margin-top: 220px;
      h1{
        color: white;
        font-weight: 100;
        letter-spacing: 3px;
        font-size: 42px;
      }
    }
    .wandered-to{
      color: white;
      margin-top: 60px;
      #realMap{
        height: 600px;
        width: 100%;
        .infoWindow{
          h3{
            color: black;
            font-weight: 100;
          }

        }
      }
      #wandered-loader{
        fill: #ffffff;
        height: 64px;
        width: 175px;
        margin: 75px auto;
        h3{
          color: white;
          font-size: 30px;
          font-weight: 100;
          margin-top: 65px;
          text-align: center;
          letter-spacing: 5px;
        }
      }
      h1{
        text-align: center;
        font-weight: 100;
        letter-spacing: 3px;
        margin-top: 0px;
        margin-bottom: 45px;
      }
      .list-map{
        text-align: right;
        ul{
          padding: 0;
          list-style: none;
          margin: 3px 0 0 0;
          li{
            cursor: pointer;
            display: inline-block;
            font-size: 24px;
            font-weight: 100;
            text-transform: lowercase;
            padding: 0px 20px 0px 20px;
            letter-spacing: 5px;
            &:hover{
              color: black;
              border-bottom: 1px solid black;
            }
          }
          #underline{
            border-bottom: 1px solid white;
          }
        }
      }
      table{
        text-align: center;
        margin-bottom: 50px;
        thead{
          font-size: 20px;
          font-weight: 100;
          letter-spacing: 2px;
        }
        tbody{
          font-size: 18px;
          font-weight: 200;
          letter-spacing: 1px;
          tr{
            cursor: pointer;
            &:hover{
              background-color: rgba(30, 30, 30, 0.6);
            }
            #open-red{
              color: red;
            }
            #open-green{
              color: green;
            }
            td{
              vertical-align: middle;
              padding: 15px 10px 15px 10px;
              img{
                height: 120px;
                width: 115px;
              }
              p{
                color: lightgray;
              }
              .star{
                color: lightgray;
                font-size: 30px;
                border: 1px solid white;
                padding: 12px 15px 12px 15px;
                border-radius: 5px;
                &:hover{
                  background-color: rgba(10, 10, 10, 0.4);
                  color: rgba(197, 153, 31, 1);
                }
              }
              .gold-star{
                color: rgba(197, 153, 31, 1);
              }
            }
          }

        }
      }
    }
    .settings{
      h1{
        margin: 50px 0 45px 0;
        color: white;
        text-align: center;
        font-size: 50px;
        font-weight: 100;
        letter-spacing: 8px;
      }
      .image{
        text-align: center;
        margin-bottom: 35px;
        .image-upload{
          label{
            img{
              cursor: pointer;
              border-radius: 125px;
              height: 200px;
              width: 200px;
            }
            #cog{
              color: darkgray;
              margin: -5px 0 0 -22px;
              font-size: 55px;
            }
            i{
              color: white;
              font-size: 40px;
              position: absolute;
              top: 230px;
              left: 225px;
              cursor: pointer;
            }
            &:hover{
              img{
                opacity: 0.5;
              }
            }
          }
          input{
            display: none;
          }
        }


      }
      .user-info{
        color: white;
        h2{
          display: inline-block;
          font-weight: 100;
          letter-spacing: 2px;
          margin: 10px 0 10px 0;
        }
        i{
          font-size: 28px;
          float: right;
          padding: 1px 0 0 15px;
          cursor: pointer;
          margin-top: 12px;
          &:hover{
            color: lightgray;
          }
       }
       .fa-times{
         color: red;
         &:hover{
           color: darkred;
         }
       }
       form{
         display: inline;
         input{
            max-width: 30%;
            vertical-align: super;
            margin-left: 50px;
            display: inline-block;
         }
         #zipcode-input{
          margin-left: 72px;
         }
       }
      }
      .user-info h2:last-of-type{
        float: right;
      }
    }


    .start{
      text-align: center;
      margin-top:300px;
      a{
          position: relative;
          text-decoration: none;
          color: white;
          text-transform: lowercase;;
          display: inline-block;
          line-height: 15px;
          border: 1px solid rgba(250, 250, 250, 0.6);
          border-radius: 2px;
          padding: 15px 20px 15px 20px;
          h3{
            margin: 0;
            font-weight: 100;
            letter-spacing: 4px;
          }
          &:hover{
            background-color: rgba(250, 250, 250, 0.2);
            color: white;
          }
       }
     }
    .activity-select{
      margin-top: 200px;
      .section-image{
        border: 1px solid white;
        width: 125px;
        margin: 0 auto;
        border-radius: 60px;
        padding: 25px 0 25px 0;
        text-align: center;
      }
      .food{
        cursor: pointer;
        color: white;
        &:hover{
          color:rgba(254, 128, 0, 1);
          .section-image{
            border: 3px solid white;
          }
          h2{
            margin-top: 16px;
          }
        }
      }
      .outdoors{
        cursor: pointer;
        color: white;
        &:hover{
            color: rgba(0, 149, 84, 1);
            .section-image{
              border: 3px solid white;
            }
            h2{
              margin-top: 16px;
            }
        }
      }
      .bars{
        cursor: pointer;
        color: white;
        &:hover{
          color: rgba(147, 44, 189, 1);
          .section-image{
            border: 3px solid white;
          }
          h2{
            margin-top: 16px;
          }
        }
      }
      .info-content{
        text-align: center;
        h2{
          font-weight: 100;
        }
      }
    }
    .food-select{
      margin-top: 200px;
      .section-image{
        border: 1px solid white;
        width: 125px;
        margin: 0 auto;
        border-radius: 60px;
        padding: 20px 20px 20px 20px;
        text-align: center;
        color: white;
      }
      .info-content{
        color: white;
        text-align: center;
        h2{
          font-weight: 100;
        }
      }
      .b-fast{
        cursor: pointer;
        color: white;
        .section-image{
          img{
            margin-left: 5px;
          }
        }
        &:hover{
          .section-image{
            border: 3px solid white;
            color: black
          }
          h2{
            margin-top: 20px;
          }
        }
      }
      .lunch{
        cursor: pointer;
        color: white;
        &:hover{
          .section-image{
            color: black;
            border: 3px solid white;
          }
          h2{
            margin-top: 20px;
          }
        }
      }
      .dinner{
        cursor: pointer;
        color: white;
        &:hover{
          .section-image{
            color: black;
            border: 3px solid white;
          }
          h2{
            margin-top: 20px;
          }
        }
      }
      .dessert{
        cursor: pointer;
        color: white;
        &:hover{
          .section-image{
            color: black;
            border: 3px solid white;
          }
          h2{
            margin-top: 20px;
          }
        }
      }
      .info-content{
        text-align: center;
        h2{
          font-weight: 100;
        }
      }
    }
    .radius{
      text-align: center;
      margin-top:200px;
      h3{
        color: white;
        margin-bottom: 20px;
        font-weight: 100;
        text-transform: lowercase;
        letter-spacing: 2px;
      }
      a{
          position: relative;
          text-decoration: none;
          color: white;
          text-transform: lowercase;;
          display: inline-block;
          line-height: 15px;
          border: 1px solid rgba(250, 250, 250, 0.6);
          border-radius: 2px;
          padding: 8px 140px 8px 140px;
          h3{
            margin: 0;
            font-weight: 100;
            letter-spacing: 4px;
            display: inline-block;
          }
          &:hover{
            background-color: rgba(250, 250, 250, 0.2);
            color: white;
          }
       }
       ul{
         list-style: none;
         margin: 0 auto;
         padding: 0;
         width: 371px;
         margin-top: -1px;
         li{
            background-color: rgba(250, 250, 250, 0.9);
            font-weight: 100;
            font-size: 18px;
            border-bottom: 1px solid lightgray;
            padding: 8px 140px 8px 140px;
            cursor: pointer;
            &:hover{
              font-weight: 200;
              color: black;
            }
         }
       }
     }
     #loader{
        fill: #ffffff;
        height: 64px;
        width: 175px;
        margin: 230px auto;
        h3{
          color: white;
          font-size: 30px;
          font-weight: 100;
          margin-top: 65px;
          text-align: center;
          letter-spacing: 5px;
        }
     }
    .result{
      margin-top: 70px;
      .result-info{
        h1{
          margin: 0 0 10px 0;
          color: white;
          font-weight: 200;
          letter-spacing: 5px;
          font-family: Karla;
        }
        a{
          text-decoration: none;
          color: white;
          h3{
            color: white;
            font-weight: 100;
            letter-spacing: 3px;
            margin: 14px 0 10px 0;
          }
          &:hover{
            color:darkgray;
            text-decoration: underline;
          }
        }
        h3{
          color: white;
          font-weight: 100;
          letter-spacing: 3px;
          margin: 14px 0 10px 0;
        }
        span{
          color: white;
        }
        .rating{
          h4{
            display: inline-block;
            color: white;
            font-weight: 100;
            margin: 8px 10px 0 0;
            vertical-align: middle;
          }
          .react-rater{
            cursor: default;
            vertical-align: text-top;
            font-size: 20px;
            margin: 0 10px 0 0;
            display: inline-block;
            a{
              color: darkgray;
            }
            .is-active{
              color: rgba(197, 153, 31, 1);
            }
          }
          img{
            height:40px;
            width: 70px;
          }
        }

        p{
          color: white;
          margin-top: 10px;
          font-size: 18px;
          font-weight: 100;
          letter-spacing: 2px;
        }
        #open-green span:last-of-type {
            color: green;
        }
        #open-red span:last-of-type {
            color: red;
        }
        .hours{
          list-style: none;
          color: white;
          padding: 0;
          li{
            font-weight: 100;
            font-size: 18px;
            letter-spacing: 2px;
          }
        }
      }
      .result-image{
        text-align: right;
        img{
          border-radius: 5px;
          height:300px;
          width: 350px;
        }
        // .hours{
        //   list-style: none;
        //   color: white;
        //   padding: 0;
        //   li{
        //     font-weight: 100;
        //     font-size: 18px;
        //     letter-spacing: 2px;
        //   }
        // }
      }
    }
    .result-buttons{
      margin-top: 60px;
      .button{
        cursor: pointer;
        text-align: center;
        margin-bottom: 15px;
        .section-image{
          color: white;
          border: 1px solid white;
          width: 125px;
          margin: 0 auto;
          border-radius: 60px;
          padding: 25px 0 20px 0;
        }
        .info-content{
          h2{
            color: white;
            text-transform: capitalize;
            font-weight: 100;
          }
        }
      }
      #red{
        &:hover{
          .section-image{
            color: red;
            border: 2px solid red;
          }
          .info-content{
            h2{
              margin-top: 18px;
              color: red;

            }
          }
        }
      }
      #green:hover{
        .section-image{
          color: green;
          border: 2px solid green;
        }
        .info-content{
          h2{
            margin-top: 18px;
            color: green;

          }
        }
      }
    }
    .adult-select{
      margin-top: 200px;
      .section-image{
        border: 1px solid white;
        width: 125px;
        margin: 0 auto;
        border-radius: 60px;
        padding: 24px 20px 24px 20px;
        text-align: center;
        color: white;
      }
      .info-content{
        color: white;
        text-align: center;
        h2{
          font-weight: 100;
        }
      }
      .bar{
        cursor: pointer;
        color: white;
        .section-image{
          img{
            margin-left: 5px;
          }
        }
        &:hover{
          color: rgba(147, 44, 189, 1);
          .section-image{
            border: 3px solid white;
          }
          h2{
            margin-top: 16px;
          }
        }
      }
      .club{
        cursor: pointer;
        color: white;
        .section-image{
          padding: 26px 20px;
          img{
            height: 65px;
            margin-left: 5px;
          }
        }
        &:hover{
          .section-image{
            border: 3px solid white;
          }
          h2{
            margin-top: 16px;
          }
        }
      }
    }
  }

}

.animated {
-webkit-animation-fill-mode: both;
-moz-animation-fill-mode: both;
-ms-animation-fill-mode: both;
-o-animation-fill-mode: both;
animation-fill-mode: both;
-webkit-animation-duration: 1s;
-moz-animation-duration: 1s;
-ms-animation-duration: 1s;
-o-animation-duration: 1s;
animation-duration: 1s;
}

.animated.hinge {
-webkit-animation-duration: 2s;
-moz-animation-duration: 2s;
-ms-animation-duration: 2s;
-o-animation-duration: 2s;
animation-duration: 2s;
}

@-webkit-keyframes bounceIn {

0% {
opacity: 0;
-webkit-transform: scale(0.8);
}

50% {
opacity: 1;
-webkit-transform: scale(1.05);
}

100% {
opacity: 1;
-webkit-transform: scale(1);
}
}

@-moz-keyframes bounceIn {

0% {
opacity: 0;
-moz-transform: scale(0.8);
}

50% {
opacity: 1;
-moz-transform: scale(1.05);
}

100% {
opacity: 1;
-moz-transform: scale(1);
}
}

@-o-keyframes bounceIn {

0% {
opacity: 0;
-o-transform: scale(0.8);
}

50% {
opacity: 1;
-o-transform: scale(1.05);
}

100% {
opacity: 1;
-o-transform: scale(1);
}
}

@keyframes bounceIn {

0% {
opacity: 0;
transform: scale(0.8);
}

50% {
opacity: 1;
transform: scale(1.05);
}

100% {
opacity: 1;
transform: scale(1);
}
}

.bounceIn {
-webkit-animation-name: bounceIn;
-moz-animation-name: bounceIn;
-o-animation-name: bounceIn;
animation-name: bounceIn;
}

@-webkit-keyframes fadeIn {
0% {
opacity: 0;
}

100% {
opacity: 1;
}
}

@-moz-keyframes fadeIn {
0% {
opacity: 0;
}

100% {
opacity: 1;
}
}

@-o-keyframes fadeIn {
0% {
opacity: 0;
}

100% {
opacity: 1;
}
}

@keyframes fadeIn {
0% {
opacity: 0;
}

100% {
opacity: 1;
}
}

.delay {
-webkit-animation-delay: 0.30s;
-moz-animation-delay: 0.30s;
-o-animation-delay: 0.30s;
animation-delay: 0.30s;
}

.delay-three {
-webkit-animation-delay: 0.60s;
-moz-animation-delay: 0.60s;
-o-animation-delay: 0.60s;
animation-delay: 0.60s;
}

.delay-two {
-webkit-animation-delay: 1.0s;
-moz-animation-delay: 1.0s;
-o-animation-delay: 1.0s;
animation-delay: 1.0s;
}

.delay-one {
-webkit-animation-delay: 1.5s;
-moz-animation-delay: 1.5s;
-o-animation-delay: 1.5s;
animation-delay: 1.5s;
}

.fadeIn {
-webkit-animation-name: fadeIn;
-moz-animation-name: fadeIn;
-o-animation-name: fadeIn;
animation-name: fadeIn;
}

@-webkit-keyframes fadeInUp {
0% {
opacity: 0;
-webkit-transform: translateY(20px);
}

100% {
opacity: 1;
-webkit-transform: translateY(0);
}
}

@-moz-keyframes fadeInUp {
0% {
opacity: 0;
-moz-transform: translateY(20px);
}

100% {
opacity: 1;
-moz-transform: translateY(0);
}
}

@-o-keyframes fadeInUp {
0% {
opacity: 0;
-o-transform: translateY(20px);
}

100% {
opacity: 1;
-o-transform: translateY(0);
}
}

@keyframes fadeInUp {
0% {
opacity: 0;
transform: translateY(20px);
}

100% {
opacity: 1;
transform: translateY(0);
}
}

.fadeInUp {
-webkit-animation-name: fadeInUp;
-moz-animation-name: fadeInUp;
-o-animation-name: fadeInUp;
animation-name: fadeInUp;
}

@-webkit-keyframes fadeInDown {
0% {
opacity: 0;
-webkit-transform: translateY(-20px);
}

100% {
opacity: 1;
-webkit-transform: translateY(0);
}
}

@-moz-keyframes fadeInDown {
0% {
opacity: 0;
-moz-transform: translateY(-20px);
}

100% {
opacity: 1;
-moz-transform: translateY(0);
}
}

@-o-keyframes fadeInDown {
0% {
opacity: 0;
-o-transform: translateY(-20px);
}

100% {
opacity: 1;
-o-transform: translateY(0);
}
}

@keyframes fadeInDown {
0% {
opacity: 0;
transform: translateY(-20px);
}

100% {
opacity: 1;
transform: translateY(0);
}
}

.fadeInDown {
-webkit-animation-name: fadeInDown;
-moz-animation-name: fadeInDown;
-o-animation-name: fadeInDown;
animation-name: fadeInDown;
}

@-webkit-keyframes fadeInLeft {
0% {
opacity: 0;
-webkit-transform: translateX(-20px);
}

100% {
opacity: 1;
-webkit-transform: translateX(0);
}
}

@-moz-keyframes fadeInLeft {
0% {
opacity: 0;
-moz-transform: translateX(-20px);
}

100% {
opacity: 1;
-moz-transform: translateX(0);
}
}

@-o-keyframes fadeInLeft {
0% {
opacity: 0;
-o-transform: translateX(-20px);
}

100% {
opacity: 1;
-o-transform: translateX(0);
}
}

@keyframes fadeInLeft {
0% {
opacity: 0;
transform: translateX(-20px);
}

100% {
opacity: 1;
transform: translateX(0);
}
}

.fadeInLeft {
-webkit-animation-name: fadeInLeft;
-moz-animation-name: fadeInLeft;
-o-animation-name: fadeInLeft;
animation-name: fadeInLeft;
}

.fadeOutDown {
-webkit-animation-name: fadeOutDown;
-moz-animation-name: fadeOutDown;
-o-animation-name: fadeOutDown;
animation-name: fadeOutDown;
}

@-webkit-keyframes fadeOutLeft {
0% {
opacity: 1;
-webkit-transform: translateX(0);
}

100% {
opacity: 0;
-webkit-transform: translateX(-20px);
}
}

@-moz-keyframes fadeOutLeft {
0% {
opacity: 1;
-moz-transform: translateX(0);
}

100% {
opacity: 0;
-moz-transform: translateX(-20px);
}
}

@-o-keyframes fadeOutLeft {
0% {
opacity: 1;
-o-transform: translateX(0);
}

100% {
opacity: 0;
-o-transform: translateX(-20px);
}
}

@keyframes fadeOutLeft {
0% {
opacity: 1;
transform: translateX(0);
}

100% {
opacity: 0;
transform: translateX(-20px);
}
}

@-webkit-keyframes fadeOut {
0% {
opacity: 1;
}

100% {
opacity: 0;
}
}

@-moz-keyframes fadeOut {
0% {
opacity: 1;
}

100% {
opacity: 0;
}
}

@-o-keyframes fadeOut {
0% {
opacity: 1;
}

100% {
opacity: 0;
}
}

@keyframes fadeOut {
0% {
opacity: 1;
}

100% {
opacity: 0;
}
}

.animated.fadeOut {
-webkit-animation-name: fadeOut;
-moz-animation-name: fadeOut;
-o-animation-name: fadeOut;
animation-name: fadeOut;
}

.animated.fadeOutLeft {
-webkit-animation-name: fadeOutLeft;
-moz-animation-name: fadeOutLeft;
-o-animation-name: fadeOutLeft;
animation-name: fadeOutLeft;
}








//************ 992PX ******************

@media (max-width: 992px) {

  // INDEX PAGE

  .main-header{
    height: 500px;
  }
    .logo-header{
      display: none;
    }
    .header{
      padding-top: 100px;
    }

  // SIGN UP PAGES

  .signup-section{
    padding-top: 150px;
  }
  .login{
    padding-top: 150px;
  }
  .header-logo{
     display: none;
  }
  .app{
    .app-header{
      .title{
        text-align: left;
        h2{
          font-size: 25px;
          margin: 18px 0 0 10px;
        }
      }
    }
    .app-content{
      .result{
        margin-top: 30px;
        .result-info{
          text-align: center;
          h1{
            border-bottom: 2px solid lightgray;
            padding-bottom: 10px;
          }
        }
        .result-image{
          text-align: center;
          margin-top: 15px;
          img{
            border-radius: 150px;
            height: 300px;
            width: 300px;
          }
        }
      }
      .adult-select{
        margin-top: 80px;
        .bar{
          margin-bottom: 30px;
        }
      }
      .food-select{
        margin-top: 35px;
      }
      .activity-select{
        margin-top: 35px;
        .circle{
          margin-bottom: 15px;
        }
      }
      .wandered-to{
        h1{
          margin-bottom: 25px;
        }
        .list-map{
          ul{
            text-align: center;
            margin: 0 0 20px 0;
          }
        }
      }
    }
  }
}

//************ 725PX ******************

@media (max-width: 725px){
  .app-info{
    .middle{
      .info-content{
        border: none;
      }
    }
  }

  .app{
    .app-header{
      img{
        margin: 6px 0 0 0px;
      }
      .title{
        h2{
          font-size: 20px;
          margin: 20px 0 0 0px;
        }
      }
      .nav{
        height: 240px;
        li{
          display: block;
          padding: 8px 0px 8px 0px;
          margin-top: 0;
          border-bottom: 1px solid darkgray;
        }
      }
    }

    .app-content{
      .wandered-to{
        #realMap{
          height: 400px;
        }
        table{
          thead{
            tr{
              .picture{
                display: none;
              }
            }
          }
          tbody{
            tr{
              .picture{
                display: none;
              }
            }
          }
        }
      }
    }
  }

}



//************ 500PX ******************

@media (max-width: 500px) {

  .header{
    padding-top: 50px;
    h1{
      font-size: 60px;
    }
  }
  .app{
    .app-header{
      .profile{
        .icon{
          margin: 3px 5px 0 0;
        }
      }
      .title{
        h2{
          font-size: 18px;
          margin: 23px 0 0 0px;
          letter-spacing: 7px;
        }
      }
    }
    .app-content{
      .start{
        margin-top: 255px;
      }
      .radius{
        a{
          padding: 8px 100px 8px 100px;
        }
        ul{
          width: 291px;
          li{
            padding: 8px 100px 8px 100px;
          }
        }
      }

      .settings{
        .user-info{
          form{
            input{
              margin-left: 40px;
            }
            #zipcode-input{
              margin-left: 62px;
            }
          }
        }
      }

    }
  }

}
